<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Standard rule for React Router
  RewriteRule ^index\.html$ - [L]
  
  # If the file or directory doesn't exist, send it to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>